#project-content p {
  display: inline-block;
}

#home #skill {
  font-weight: bold;
}

.project-item {
  border: 1px solid #1D2026;
}

#contact header {
  margin-bottom: 0;
}

.social-links li a {
  display: table-cell;
  vertical-align: middle;
  line-height: 0px;
  height: 100px;
  width: 100px;
}

.social-links {
  display: table;
  margin: 0 auto 100px auto;
  text-align: center;
}
